/* #main:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../../images/clapperboard.jpg");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
} */

body {
  padding-top: 80px;
  background-image: url("../../images/claqueta.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
